/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/wallpaper.webp');
    background-size: cover;         /* Para que a imagem ocupe toda a tela */
    background-position: center;    /* Centraliza a imagem */
    background-attachment: fixed;   /* Faz com que a imagem de fundo não se mova ao rolar a página */
    height: 100vh;           
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #a00303;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #210000;
    color: white;
}

p {
    text-align: center;
    font-weight: bold;
}

header{
    background-color: red;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

header h1{
    color: white;
    
}

header a{
    color: white;

    margin-top: 30px;
    text-decoration: none;

}

nav {
    background-color: black;
    height: 10px;
    width: 100%;
}


.containera {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#concluir {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  border:black 2px solid;
}

#editar {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border:black 2px solid;
}

#remover {
    color: white;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border:black 2px solid;
}

a:hover{
transform: scale(1.25);
transition: 1s;
}

.containera strong{
 font-size: larger;
}

